<app-hero [title]="services[currentService].name" [imageUrl]="services[currentService].image"></app-hero>



<div class="row g-0 overflow-hidden flex-md-row align-items-center h-md-250 position-relative custom-section">

  <!-- Left Side - Before & After Slider -->
  <div class="col-lg-6 col-md-5 d-md-block">
      <div class="comparison-slider-container m-auto text-center">
        <img slot="second" src="assets/residential1.webp" class="comparison-img"/>
      </div>
  </div>

  <!-- Right Side - Text Content -->
  <div class="col-lg-6 col-md-7 p-4 d-flex flex-column position-static review-background">
      <div class="customer-reviews-section">
          <h3 class="d-inline-block mb-4">Premium Residential <span class="red">Sealcoating Services</span></h3>
          <p class="mb-auto">Grindstone Sealcoating is your trusted choice for top-quality asphalt protection in Brookfield, MA, and the surrounding areas. We specialize in expert residential and commercial sealcoating, ensuring durable, long-lasting results. Our skilled team is dedicated to delivering superior service and exceeding expectations with every project.</p>

      </div>
  </div>

</div>


<div class="row g-0 overflow-hidden flex-md-row align-items-center h-md-250 position-relative custom-section">

    <!-- Right Side - Text Content -->
    <div class="col-lg-6 col-md-7 p-4 d-flex flex-column position-static review-background">
      <div class="customer-reviews-section">
          <h3 class="d-inline-block mb-4">Residential Sealcoating <span class="red">Services</span></h3>
          <p class="mb-auto">Protect and enhance your driveway with Grindstone Sealcoating’s expert residential services. Our team takes the time to understand your needs, provide the best recommendations, and walk you through the process. Using only premium materials and professional-grade equipment, we ensure long-lasting protection against the elements while keeping your driveway looking its best for years to come.</p>
      </div>
  </div>

  <!-- Left Side - Before & After Slider -->
  <div class="col-lg-6 col-md-5 d-md-block">
      <div class="comparison-slider-container m-auto text-center">
        <img slot="second" src="assets/residential2.webp" class="comparison-img"/>
      </div>
  </div>



</div>


<div class="services-section">
  <div class="container">
    <h2 class="display-4 fw-bold content-header mt-5 mb-2 text-center">Exclusive Specials  <span class="red">Just for You!
    </span></h2>
    <p class="lead m-auto text-center">Grindstone Sealcoating is excited to bring you exclusive deals on our premium sealcoating services! Whether you’re looking to enhance your property’s curb appeal or protect your asphalt for years to come, our limited-time offers make it easier than ever. We’re committed to delivering top-quality results at unbeatable value—don’t miss out! Contact Grindstone Sealcoating today to take advantage of these special savings.</p>    

    <div class="row text-center">
      <div class="col-md-3">
        <div class="choose-icon">
          <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <h4>Competitive Pricing</h4>
      </div>
      <div class="col-md-3">
        <div class="choose-icon">
          <i class="fa-solid fa-person-digging"></i>
        </div>
        <h4>Quality Materials</h4>
      </div>
      <div class="col-md-3">
        <div class="choose-icon">
          <i class="fa-solid fa-handshake"></i>
        </div>
        <h4>Customer Satisfaction</h4>
      </div>
      <div class="col-md-3">
        <div class="choose-icon">
          <i class="fa-solid fa-award"></i>
        </div>
        <h4>Expertise & Experience</h4>
      </div>
    </div>
  </div>
</div>