<app-hero [title]="services[currentService].name" [imageUrl]="services[currentService].image"></app-hero>



<div class="row g-0 overflow-hidden flex-md-row align-items-center h-md-250 position-relative custom-section">

  <!-- Left Side - Before & After Slider -->
  <div class="col-lg-6 col-md-5 d-md-block">
      <div class="comparison-slider-container m-auto text-center">
        <img slot="second" src="assets/line-striping1.JPG" class="comparison-img"/>
      </div>
  </div>

  <!-- Right Side - Text Content -->
  <div class="col-lg-6 col-md-7 p-4 d-flex flex-column position-static review-background">
      <div class="customer-reviews-section">
          <h3 class="d-inline-block mb-4">Line <span class="red">Striping</span></h3>
          <p class="mb-auto">Clear, well-defined striping is essential for a safe, organized, and professional-looking parking lot. It not only enhances the appearance of your property but also improves traffic flow and safety. At Grindstone Sealcoating, we specialize in delivering reliable commercial line striping services for businesses in Brookfield, MA, and neighboring communities—ensuring your lot looks sharp and functions smoothly.
          </p>
      </div>
  </div>

</div>


<div class="row g-0 overflow-hidden flex-md-row align-items-center h-md-250 position-relative custom-section">

    <!-- Right Side - Text Content -->
    <div class="col-lg-6 col-md-7 p-4 d-flex flex-column position-static review-background">
      <div class="customer-reviews-section">
          <h3 class="d-inline-block mb-4">Get High-Quality <span class="red">Line Striping Services</span></h3>
          <p class="mb-auto">At Grindstone Sealcoating, we’re proud to provide top-tier line striping services to businesses throughout Brookfield, MA, and surrounding areas. Our work enhances safety, boosts efficiency, and keeps your lot looking sharp and well-organized. With a focus on detail and friendly, responsive service, we’ll have your lot marked and ready in no time. Reach out today to learn more about our commercial line striping or to schedule a free estimate!</p>
        </div>
  </div>

  <!-- Left Side - Before & After Slider -->
  <div class="col-lg-6 col-md-5 d-md-block">
      <div class="comparison-slider-container m-auto text-center">
        <img slot="second" src="assets/line-striping2.webp" class="comparison-img"/>
      </div>
  </div>



</div>


<div class="services-section">
  <div class="container">
    <h2 class="display-4 fw-bold content-header mt-5 mb-2 text-center">Why Fresh  <span class="red">Line Striping Matters
    </span></h2>
    <p class="lead m-auto text-center">One of the biggest advantages of updated line striping is improved safety. Clearly marked parking spaces, walkways, and directional arrows help guide both drivers and pedestrians, reducing the risk of confusion, accidents, or injuries. Clearly designated loading zones and ADA-compliant accessible spots also help ensure your property meets important regulatory standards.</p>    
    <br>
    <p class="lead m-auto text-center">Beyond safety, a smart striping layout can maximize available parking and streamline traffic flow—cutting down on congestion and making your lot more efficient. That’s especially important for high-traffic businesses like restaurants and retail locations that rely on consistent customer volume.</p>

    
  </div>
</div>