<app-hero title="Contact Kings Highway Asphalt" imageUrl="assets/hero.webp"></app-hero>
<!-- contact.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 p-5">
        <h2>Send Us a Message</h2>
        <p>Please fill out this short form and we'll contact you shortly.</p>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Your Email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="tel" class="form-control" id="phone" placeholder="Your Phone Number">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn">Send Us a Message</button>
        </form>
      </div>
      <div class="info col-md-3 pt-4 text-center">
        <div class="service-area mt-5 mb-4">
          <h3>Service Area</h3>
          <p class="m-0">Brookfield, MA 01506</p>
          <p class="m-0"><strong>Main:</strong> (774) 922-3911</p>
        </div>
        <div class="business-hours">
          <h3>Business Hours</h3>
          <p>Mon - Fri: 6:30 am - 8:00 pm</p>
          <p>Sat - Sun: 8:00 am - 6:00 pm</p>
        </div>
        <div class="social-icons mb-4">
          <a href="#" class="me-2"><i class="fab fa-facebook icon"></i></a>
          <a href="#" class="me-2"><i class="fab fa-instagram icon"></i></a>
          <a href="#" class="me-2"><i class="fab fa-twitter icon"></i></a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  