.form-wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea,
  select {
    border-color: #ba0600;
    background-color: #f4f6f7;
    color: #000;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(186, 6, 0, 0.2);
  }
  
  .btn-danger {
    background-color: #ba0600;
    border: none;
    border-radius: 3px;
    font-weight: bold;
  }
  
  h2 span {
    color: #ba0600;
  }
  
  input[type="file"] {
    background-color: #f4f6f7;
    border-color: #ba0600;
    color: #000;
  
    &::file-selector-button {
      background-color: #ba0600;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  