<div class="socialBar">
    <div class="social-icons">
        <a href="https://www.instagram.com/grindstonesealcoating" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/grindstonesealcoating/" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="contact-info">
        <a class="location" href="#">
            <i class="fa-solid fa-location-dot"></i>
            <span>Brookfield, MA 01506</span>
        </a>
        <span class="split">|</span>
        <a class="phone" href="tel:7749223911">
            <i class="bi bi-telephone"></i>
            <span>(774) 922-3911</span>
        </a>
    </div>
</div>
