<app-hero [title]="services[currentService].name" [imageUrl]="services[currentService].image"></app-hero>


<h1 class="display-4 fw-bold content-header mt-5 mb-2 text-center">Exclusive Specials  <span class="red">Just for You!
</span></h1>
<p class="lead m-auto text-center w-50">Grindstone Sealcoating is excited to bring you exclusive deals on our premium sealcoating services! Whether you’re looking to enhance your property’s curb appeal or protect your asphalt for years to come, our limited-time offers make it easier than ever. We’re committed to delivering top-quality results at unbeatable value—don’t miss out! Contact Grindstone Sealcoating today to take advantage of these special savings.</p>


<div class="row g-0 overflow-hidden flex-md-row align-items-center h-md-250 position-relative custom-section">

  <!-- Left Side - Before & After Slider -->
  <div class="col-lg-6 col-md-5 d-none d-md-block">
      <div class="comparison-slider-container m-auto text-center">
        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1526692264565292%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
      </div>
  </div>

  <!-- Right Side - Text Content -->
  <div class="col-lg-6 col-md-7 p-4 d-flex flex-column position-static review-background">
      <div class="customer-reviews-section">
          <h3 class="d-inline-block mb-4">Grindstone Sealcoating <span class="red">Referral Program</span></h3>
          <p class="mb-auto">We appreciate our loyal customers, and now you can earn rewards by spreading the word!</p>
          <br>
          <p class="mb-auto">If you’re a past customer, refer a friend, and once they complete their driveway with us, you’ll receive a $100 VISA gift card as our way of saying thanks.</p>
          <br>
          <p class="mb-auto">Your referral doesn’t just benefit you! The new customer will also receive $150 off their driveway service. Plus, they can start referring others too!</p>
          <br>
          <p class="mb-auto">There’s no cap on how many people you can refer! Just make sure they complete their job with us for you to receive your reward.</p>
          <br>
          <p class="mb-auto">This special referral program runs all year, but remember—you must be a past customer to qualify!</p>
          <br>
          <p class="mb-auto">To receive your $100 gift card, you must submit the referral form below.
          <br>
          <p class="mb-auto">Start referring today and enjoy the rewards!</p>

      </div>
  </div>

</div>


<div class="services-section">
  <div class="container">
    <h2 class="display-4 fw-bold content-header mt-5 mb-2 text-center">Exclusive Specials  <span class="red">Just for You!
    </span></h2>
    <p class="lead m-auto text-center w-50">Grindstone Sealcoating is excited to bring you exclusive deals on our premium sealcoating services! Whether you’re looking to enhance your property’s curb appeal or protect your asphalt for years to come, our limited-time offers make it easier than ever. We’re committed to delivering top-quality results at unbeatable value—don’t miss out! Contact Grindstone Sealcoating today to take advantage of these special savings.</p>    
    <button class="btn btn-primary bg-red">Get A Quote</button>
  </div>
</div>