/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

@import "bootstrap-icons/font/bootstrap-icons.css";

.red{
    color: #ba0600;
  }
  

.bg-red{
    background-color: #ba0600;
} 

.bg-red:hover{
    background-color: #8b0500;
} 

.btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
  }
  