.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  transition: background 1s ease-in-out;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 2;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

p {
  font-size: 1.8rem;
  margin-top: 10px;
}

.carousel-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.carousel-controls span {
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  user-select: none;
  transition: background 0.3s;
}

.carousel-controls span:hover {
  background: rgba(0, 0, 0, 0.8);
}

.phone{
  text-decoration: none;
  color: white;
}